*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 201, 199);
    padding: 10px;
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: rgb(2, 141, 255);
    z-index: 1000;
    top: 0;
    left: 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 201, 199);
    padding: 10px;
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: rgb(2, 141, 255);
    z-index: 1000;
    top: 0;
    left: 0;
}
.logo{
    display: flex;
    margin-left: 10px;
    padding: 5px;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.logo .logo-text{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
}
.logo-text .p{
    color: rgb(187, 190, 19);
}
.logo-text .i{
    color: rgb(151, 9, 233);
}
.logo-text .s{
    color: rgb(24, 9, 233);
}
.header ul{
    display: flex;
    align-items: center;
}
.header ul li{
    list-style: none;
    margin: 10px;
    padding: 5px;
}
.header ul li a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.header ul li a:hover{
    color: rgb(10, 11, 20);
    background-color: white;
}
.login-btn{
    background-color: #040297;
    color: white;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
}
.login-btn:hover{
    background-color: #04040f;
    cursor: pointer;
    color: white;
}