:root{
    --primary-color: #040297;
    --secondary-color: #17033d;
    --btn-color: #007bff;
    --btn-hover-color: #0056b3;
    --text-color: #ffffff;
    --hover-color: #f1f1f1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.main-content{
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    width: 100%;

}
.side-bar{
    float: left;
    width: 20%;
}
nav {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    float: left;
    width: 20%;
    height: 300px;
    background: #17033d;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
    text-align: left;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 10px 0;
}
nav a:hover {
    color: var(--hover-color);
}
section{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 80px;
    width: 100%;
    height: 100vh;
}
/* Home section */
.home-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 100vh;
}
.home-content{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
.home-content h1{
    color: var(--primary-color);
}
.home-content h2{
    color: var(--secondary-color);
}
.btn{
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.btn:hover{
     background-color: var(--btn-hover-color);
}
 .footer{
    background-color: #333;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
 }

 