:root{
    --primary-color: #040297;
    --secondary-color: #17033d;
    --primary-background: #e2e2e2;
    --btn-color: #007bff;
    --btn-hover-color: #0056b3;
    --hover-color: #f1f1f1;
    --input-border-color: #cccccc;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}
 h3{
    margin-bottom: 20px;
    color: var(--primary-color);
    width: 100%;
    animation: mymove 2s infinite;
}
@keyframes mymove {
    0% {color: rgb(0, 102, 128)}
    50% {color: rgb(119, 3, 165);}
    100% {color: var(--primary-color);}
}
form{
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}
 .img{
    text-align: center;
    margin-bottom: 20px;
    animation: mymove1 5s infinite;
    /* animation: rotate 5s infinite; */
}
/* @keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
} */
@keyframes mymove1 {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
form input[type="text"],
form input[type="email"],
form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    outline: none;
}
form button{
    width: 100%;
    padding: 10px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
form button:hover{
    background-color: var(--btn-hover-color);
}
form p{
    text-align: center;
    margin-top: 15px;
    color: #02971b;
}
form p a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
form p a:hover{
    color: var(--secondary-color);
    text-decoration: underline green;
}