:root{
    --primary-color: #040297;
    --secondary-color: #17033d;
    --primary-background: #e2e2e2;
    --btn-color: #007bff;
    --btn-hover-color: #0056b3;
    --hover-color: #f1f1f1;
    --input-border-color: #cccccc;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: linear-gradient(to right, #f1f5f4, #a8b2dd);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}
 h2{
    margin-bottom: 20px;
    color: var(--primary-color);
    width: 100%;
}
form{
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(29, 29, 29, 0.1);
    text-align: left;
}
 .img, .txt{
    text-align: center;
    margin-bottom: 20px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border-color: var(--primary-color);
}
label{
    font-weight: bold;
    color: #0c0101;
}
form button, .btn{
    width: 100%;
    padding: 10px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
form button:hover{
    background-color: var(--btn-hover-color);
}
form p{
    text-align: center;
    margin-top: 15px;
    color: #000000;
}
form p a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
form p a:hover{
    color: var(--secondary-color);
    text-decoration: underline green;
}

.footer{
    background-color: #333;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
 }
.footer p{
    margin: 0;}